*.iml
.gradle
/local.properties
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
.gradle/
cbk_android_lib_network.iml
/.idea
/.gradle
gradle.properties
gradle-mvn-push.gradle
/.androidTest
/.test
